Flow:

1. We first do exact schema clustering
2. Apply PPO within each cluster
3. Merge clusters one at a time to connect
    1. Use PPO First
    2. If schema match during merge, try join check
    3.

In [3]:
import sys
sys.path.insert(0, '..')

In [4]:
from lineage import graphs, similarity

../lineage/similarity.py:11: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [14]:
#BASE_DIR = '/media/suhail/Data/experiments/reexec/res/'
#BASE_DIR = '/home/suhail/Projects/sample_workflows/million_notebooks/selected/'
BASE_DIR = '/home/suhail/ok/'
#BASE_DIR = '/home/suhail/Projects/relic/primitives/python/generator/dataset/'

In [15]:
#NB_NAME = 'nb_331056.ipynb'
NB_NAME = 'nb_289248.ipynb'

In [7]:
import itertools
from collections import defaultdict
# Jaccard Distance First

#Duplicate function
def set_jaccard_distance(set1,set2):
    intersect = set1.intersection(set2)
    union = set1.union(set2)
    return 1-(len(intersect)/len(union))

def select_merge_candidates(schemas):
    distance_dict = defaultdict(list)
    for combo in itertools.combinations(schemas,2):
        distance_dict[set_jaccard_distance(*combo)].append(combo)
    
    return distance_dict[min(distance_dict)], min(distance_dict)

In [8]:
def merge_clusters(schema_dict, schema1, schema2):
    
    union = schema1.union(schema2)
    elements = schema_dict[schema1] + schema_dict[schema2] 
    
    #print('BEFORE')
    #print(schema_dict)
    #print(union)
    #print(schema_dict[union])
    
    try:
        del(schema_dict[schema1])
        del(schema_dict[schema2])
    except:
        pass
    
    schema_dict[union] = elements
    #print('AFTER')
    #print(schema_dict)
    
    return schema_dict

In [9]:
import dataset as ds
import clustering


df_dict = ds.build_df_dict_dir(BASE_DIR+NB_NAME+'/artifacts/')
df_dict
schema_dict = clustering.exact_schema_cluster(df_dict)

In [9]:
candidates,score = select_merge_candidates(schema_dict.keys())

In [10]:
while(len(schema_dict) > 1):
    print('level')
    schemas, score = select_merge_candidates(schema_dict.keys())
    schema_dict = merge_clusters(schema_dict, schemas[0][0], schemas[0][1])

level
level
level

In [11]:
schema_dict

defaultdict(list,
            {frozenset({'amount',
                        'calaccess_committee_id',
                        'calaccess_filing_id',
                        'calaccess_prop_id',
                        'ccdc_committee_id',
                        'ccdc_prop_id',
                        'committee_name',
                        'committee_name_x',
                        'committee_name_y',
                        'committee_position',
                        'contributor_city',
                        'contributor_employer',
                        'contributor_firstname',
                        'contributor_fullname',
                        'contributor_is_self_employed',
                        'contributor_lastname',
                        'contributor_occupation',
                        'contributor_state',
                        'contributor_zip',
                        'date_received',
                        'ocd_prop_id',
                        'prop_name'}): ['top_supporters.csv',
              'props.csv',
              'prop.csv',
              'oppose.csv',
              'noncacontribs.csv',
              'support.csv',
              'merged.csv',
              'contribs.csv']})

In [12]:
from lineage import similarity, graphs

def intra_cluster_similarity(df_dict, clusters, threshold=0.0001):
    pairwise_jaccard = []
    for cluster in clusters.values():
        batch = {k: df_dict[k] for k in cluster}
        pw_batch = similarity.get_pairwise_similarity(batch, similarity.compute_jaccard_DF, threshold=threshold)
        pairwise_jaccard.extend(pw_batch)
    return pairwise_jaccard

In [13]:
%matplotlib inline

In [14]:
img_frames = []

In [15]:
import os
import networkx as nx
import pandas as pd
import nppo


def lineage_inference_agglomerative(nb_name=NB_NAME, base_dir=BASE_DIR,
                      pre_cluster=False,
                      index=True, threshold=0.0001,
                      join_edges=False,
                      group_edges=False,
                      ):

    wf_dir = base_dir+nb_name

    if index:
        artifact_dir = wf_dir+'/artifacts/'
    else:
        artifact_dir = wf_dir+'/artifacts_1/'

    #Output Directory
    result_dir = wf_dir+'/inferred/'
    os.makedirs(result_dir, exist_ok=True)

    # Output Files
    schema_file = result_dir+'schema_matching.csv'
    row_file = result_dir+'row_matching.csv'
    cluster_file = result_dir+'clusters.csv'
    
    
    # Prepare Dataframe for results
    pr_df = pd.DataFrame(columns = ['nb_name', 'index', 'numclusters',  
                                    'distance_metric', 'edges_correct', 
                                    'edges_missing', 'edges_to_remove',
                                    'join_edges', 'precision', 'recall', 'F1',
                                    'missing_files'])

    

    # Load Dataset
    dataset = ds.build_df_dict_dir(artifact_dir)
    
    
    # Load Ground Truth:
    g_truth = nx.read_gpickle(wf_dir+'/'+nb_name+'_gt_fixed.pkl')
    
    # Check for files in the ground truth that are missing in file list
    missing_files = ds.check_csv_graph(artifact_dir, g_truth)

    # Cluster for visualization
    clusters = clustering.exact_schema_cluster(dataset)
    clustering.write_clusters_to_file(clusters, result_dir+'clusters_with_filename.csv')

    # Start with intra-cluster edges:
    pairwise_jaccard = intra_cluster_similarity(df_dict, clusters)

    pw_jaccard_graph = graphs.generate_pairwise_graph(pairwise_jaccard)

    
       
    # Write out the Pairwise Distances as Adj list
    nx.to_pandas_adjacency(pw_jaccard_graph,weight='weight').to_csv(
                                                result_dir+'cell_sim.csv')

    g_inferred = graphs.generate_spanning_tree(pw_jaccard_graph)
    nx.write_edgelist(g_inferred,result_dir+'infered_mst_cell.csv',data=True)
    
    #Draw first graph and get results
    cluster_dict = clustering.get_graph_clusters(result_dir+'clusters_with_filename.csv')
    img_frames.append(graphs.generate_and_draw_graph(base_dir, nb_name, 'cell', cluster_dict=cluster_dict, join_list=None))
    

    result = graphs.get_precision_recall(g_truth,g_inferred)
        
    pr_df = pr_df.append({
        'nb_name': nb_name,
        'index': index,
        'numclusters': len(clusters),
        'distance_metric': 'pandas_cell',
        'edges_correct': len(result['correct_edges']),
        'edges_missing': len(result['to_add']),
        'edges_to_remove': len(result['to_remove']),
        #'join_edges': len(inferred_j_edges),
        'precision': result['Precision'],
        'recall': result['Recall'],
        'F1': result['F1'],
        'missing_files': len(missing_files)
    }, ignore_index=True)
    
    # Write out inferred graph
    nx.write_edgelist(g_inferred,result_dir+'infered_mst_cell.csv',data=True)

    #Clustering Loop Starts here
    while(len(clusters) > 1):
        print('Num Clusters:', len(clusters))
        candidates,score = select_merge_candidates(clusters.keys())

        clusterset1, clusterset2 = clusters[candidates[0][0]], clusters[candidates[0][1]]

        src, dst, score = similarity.get_pairs_similarity(df_dict, clusterset1, clusterset2)[0]
        print('Adding Edge:', src, dst, score)
        
        if(score > 0):
            g_inferred.add_edge(src, dst, weight=score)

        nx.write_edgelist(g_inferred,result_dir+'infered_mst_cell.csv',data=True)
        clusters = merge_clusters(clusters, candidates[0][0], candidates[0][1])
        
        # Draw inferred graph image:
        if(len(clusters) > 1):
            clustering.write_clusters_to_file(clusters, result_dir+'clusters_with_filename.csv')
            cluster_dict = clustering.get_graph_clusters(result_dir+'clusters_with_filename.csv')
        else:
            cluster_dict = None
        img_frames.append(graphs.generate_and_draw_graph(base_dir, nb_name, 'cell', cluster_dict=cluster_dict, join_list=None))
    
    
        #Compute PR after merge
        
        result = graphs.get_precision_recall(g_truth,g_inferred)
        
        pr_df = pr_df.append({
            'nb_name': nb_name,
            'index': index,
            'numclusters': len(clusters),
            'distance_metric': 'pandas_cell',
            'edges_correct': len(result['correct_edges']),
            'edges_missing': len(result['to_add']),
            'edges_to_remove': len(result['to_remove']),
            #'join_edges': len(inferred_j_edges),
            'precision': result['Precision'],
            'recall': result['Recall'],
            'F1': result['F1'],
            'missing_files': len(missing_files)
        }, ignore_index=True)
            

    # Test for NPPOs:
    
    inferred_j_edges = []
    join_list = None
    cluster_dict = None

    if join_edges:
        print('Writing Cluster File')

        print("Adding Join Edges")
        join_list = nppo.find_all_joins_df_dict(dataset)
        print(len(join_list), "Joins Detected")
        g_inferred = nppo.add_join_edges(join_list, g_inferred)


        for join in join_list:
            inferred_j_edges.append((join[0], join[2]))
            inferred_j_edges.append((join[1], join[2]))


        nppo.write_join_candidates(join_list, result_dir+'join_candidates.csv')

        g_truth_j_edges = [(u,v) for u,v,d in g_truth.edges(data=True) \
                           if g_truth[u][v]['operation'] == 'merge' ]

        #Check Join Precision/Recall
        #print(get_join_precision_recall(g_truth_j_edges, inferred_j_edges))
        
        result = graphs.get_precision_recall(g_truth,g_inferred)

        cluster_dict = clustering.get_graph_clusters(result_dir+'clusters_with_filename.csv')
        img_frames.append(graphs.generate_and_draw_graph(base_dir, nb_name, 'cell', cluster_dict=cluster_dict, join_list=join_list))

        pr_df = pr_df.append({
            'nb_name': nb_name,
            'index': index,
            'numclusters': len(clusters),
            'distance_metric': 'pandas_cell',
            'edges_correct': len(result['correct_edges']),
            'edges_missing': len(result['to_add']),
            'edges_to_remove': len(result['to_remove']),
            'join_edges': len(inferred_j_edges),
            'precision': result['Precision'],
            'recall': result['Recall'],
            'F1': result['F1'],
            'missing_files': len(missing_files)
        }, ignore_index=True)
  
    return pr_df

In [17]:
%matplotlib inline

In [18]:
df = lineage_inference_agglomerative(nb_name=NB_NAME)
df

HBox(children=(IntProgress(value=0, description='graph pairs', max=6), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', description='graph pairs', max=1), HTML(value='')))

HBox(children=(IntProgress(value=1, bar_style='info', description='graph pairs', max=1), HTML(value='')))

HBox(children=(IntProgress(value=0, description='graph pairs', max=1), HTML(value='')))

Num Clusters: 4

HBox(children=(IntProgress(value=0, description='cluster pairs', max=4), HTML(value='')))

Adding Edge: merged.csv contribs.csv 0.0015397492649661011
Num Clusters: 3

HBox(children=(IntProgress(value=0, description='cluster pairs', max=10), HTML(value='')))

Adding Edge: props.csv support.csv 0.0073740782402199724
Num Clusters: 2

HBox(children=(IntProgress(value=0, description='cluster pairs', max=7), HTML(value='')))

Adding Edge: top_supporters.csv props.csv 0

,nb_name,index,numclusters,distance_metric,edges_correct,edges_missing,edges_to_remove,join_edges,precision,recall,F1,missing_files
0,nb_495072.ipynb,True,4,pandas_cell,2,5,2,NaN,0.285714,0.5,0.363636,0
1,nb_495072.ipynb,True,3,pandas_cell,3,4,2,NaN,0.428571,0.6,0.500000,0
2,nb_495072.ipynb,True,2,pandas_cell,3,4,3,NaN,0.428571,0.5,0.461538,0
3,nb_495072.ipynb,True,1,pandas_cell,3,4,3,NaN,0.428571,0.5,0.461538,0

In [218]:
from PIL import Image

image_frames = [Image.open(frame) for frame in img_frames]

In [69]:
image_frames[0].save('mexican.gif', 
                     format='GIF', append_images=image_frames[1:], 
                     save_all=True,
                     duration=1000, 
                     loop=0)

In [219]:
df[['numclusters', 'edges_correct','edges_missing', 'edges_to_remove', 'F1']][:-1]

  numclusters edges_correct edges_missing edges_to_remove        F1
0           9             8            12               0  0.571429
1           8             9            11               0  0.620690
2           7            10            10               0  0.666667
3           6            11             9               0  0.709677
4           5            12             8               0  0.750000
5           4            13             7               0  0.787879
6           3            13             7               1  0.764706
7           2            13             7               2  0.742857
8           1            13             7               3  0.722222

In [250]:
schema_dict

defaultdict(list,
            {frozenset({'atemp',
                        'casual',
                        'cnt',
                        'demand in day -1',
                        'demand in day -10',
                        'demand in day -11',
                        'demand in day -12',
                        'demand in day -2',
                        'demand in day -3',
                        'demand in day -4',
                        'demand in day -5',
                        'demand in day -6',
                        'demand in day -7',
                        'demand in day -8',
                        'demand in day -9',
                        'demand in hour -1',
                        'demand in hour -10',
                        'demand in hour -11',
                        'demand in hour -12',
                        'demand in hour -2',
                        'demand in hour -3',
                        'demand in hour -4',
                        'demand in hour -5',
                        'demand in hour -6',
                        'demand in hour -7',
                        'demand in hour -8',
                        'demand in hour -9',
                        'demand in week -1',
                        'demand in week -10',
                        'demand in week -11',
                        'demand in week -12',
                        'demand in week -2',
                        'demand in week -3',
                        'demand in week -4',
                        'demand in week -5',
                        'demand in week -6',
                        'demand in week -7',
                        'demand in week -8',
                        'demand in week -9',
                        'dteday',
                        'holiday',
                        'hr',
                        'hum',
                        'mnth',
                        'registered',
                        'season',
                        'temp',
                        'weathersit',
                        'weekday',
                        'windspeed',
                        'workingday',
                        'yr'}): ['v1.csv',
              'v3.csv',
              'v2.csv',
              'v4.csv',
              'v5.csv',
              'v6.csv',
              'v11-s.csv',
              'v10.csv',
              'v7.csv',
              'v8.csv',
              'v9.csv',
              'v16.csv',
              'v18.csv',
              'v17.csv',
              'v20.csv',
              'v19.csv',
              'v12.csv',
              'v13.csv',
              'v11-R.csv',
              'v14.csv',
              'v15.csv']})

In [10]:
df_dict

{'df_long.csv':    int-numbers str-numbers lc-letter uc-letter
 0            1         one         a         A
 1            2         two         b         B
 2            3       three         c         C
 3            4        four         d         D
 4            5        five         e         E,
 'ab_students.csv':      names letter_grades  number_grades
 0     Alma             A            100
 1  Anthony             A             95
 2      Ava             A             93
 3    Barry             B             88
 4    Brick             B             87
 5    Betty             B             89,
 'cd_students.csv':     names letter_grades  number_grades
 0     Cam             C             79
 1  Caroly             C             79
 2   Cathy             C             76
 3   David             D             69
 4  Darius             D             66
 5   Dipsy             D             68,
 'sdf.csv':    letter  length
 0       A       7
 1       A       6
 2       A       7
 3       A       8
 4       C      10
 5       C       8
 6       C      11
 7       D       8
 8       F       7
 9       G       7
 10      H       6
 11      I       5
 12      I       8
 13      I       7
 14      I       4
 15      K       6
 16      K       8
 17      L       9
 18      M       5
 19      M       8
 20      M      13
 21      M       8
 22      M       9
 23      M      11
 24      M       8
 25      M       7
 0       N       8
 1       N       6
 2       N      13
 3       N      10
 4       N      10
 5       N       8
 6       N      14
 7       N      12
 8       O       4
 9       O       8
 10      O       6
 11      P      12
 12      R      12
 13      S      14
 14      S      12
 15      T       9
 16      T       5
 17      U       4
 18      V       7
 19      V       8
 20      W      10
 21      W      13
 22      W       9
 23      W       7,
 'states.csv':    abbreviation            name
 0            AL         Alabama
 1            AK          Alaska
 2            AZ         Arizona
 3            AR        Arkansas
 4            CA      California
 5            CO        Colorado
 6            CT     Connecticut
 7            DE        Delaware
 8            FL         Florida
 9            GA         Georgia
 10           HI          Hawaii
 11           ID           Idaho
 12           IL        Illinois
 13           IN         Indiana
 14           IA            Iowa
 15           KS          Kansas
 16           KY        Kentucky
 17           LA       Louisiana
 18           ME           Maine
 19           MD        Maryland
 20           MA   Massachusetts
 21           MI        Michigan
 22           MN       Minnesota
 23           MS     Mississippi
 24           MO        Missouri
 25           MT         Montana
 0            NE        Nebraska
 1            NV          Nevada
 2            NH   New Hampshire
 3            NJ      New Jersey
 4            NM      New Mexico
 5            NY        New York
 6            NC  North Carolina
 7            ND    North Dakota
 8            OH            Ohio
 9            OK        Oklahoma
 10           OR          Oregon
 11           PA    Pennsylvania
 12           RI    Rhode Island
 13           SC  South Carolina
 14           SD    South Dakota
 15           TN       Tennessee
 16           TX           Texas
 17           UT            Utah
 18           VT         Vermont
 19           VA        Virginia
 20           WA      Washington
 21           WV   West Virginia
 22           WI       Wisconsin
 23           WY         Wyoming,
 'capitals.csv':            capital   latitude   longitude            name
 0       Montgomery  32.377716  -86.300568         Alabama
 1           Juneau  58.301598 -134.420212          Alaska
 2          Phoenix  33.448143 -112.096962         Arizona
 3      Little Rock  34.746613  -92.288986        Arkansas
 4       Sacramento  38.576668 -121.493629      California
 5           Denver  39.739227 -104.984856        Colorado
 6         Hartford  41.764046  -72.682198     Connecticut
 7            Dover  39.157307  -75.519722        Delaware
 8         Honolulu  21.307442 -157.857376          Hawaii
 9      Tallahassee  30.438118  -84.281296         Florida
 10         Atlanta  33.749027  -84.388229         Georgia
 11           Boise  43.617775 -116.199722           Idaho
 12     Springfield  39.798363  -89.654961        Illinois
 13    Indianapolis  39.768623  -86.162643         Indiana
 14      Des Moines  41.591087  -93.603729            Iowa
 15          Topeka  39.048191  -95.677956          Kansas
 16       Frankfort  38.186722  -84.875374        Kentucky
 17     Baton Rouge  30.457069  -91.187393       Louisiana
 18         Augusta  44.307167  -69.781693           Maine
 19       Annapolis  38.978764  -76.490936        Maryland
 20          Boston  42.358162  -71.063698   Massachusetts
 21         Lansing  42.733635  -84.555328        Michigan
 22        St. Paul  44.955097  -93.102211       Minnesota
 23         Jackson  32.303848  -90.182106     Mississippi
 24  Jefferson City  38.579201  -92.172935        Missouri
 25          Helena  46.585709 -112.018417         Montana
 26         Lincoln  40.808075  -96.699654        Nebraska
 27     Carson City  39.163914 -119.766121          Nevada
 28         Concord  43.206898  -71.537994   New Hampshire
 29         Trenton  40.220596  -74.769913      New Jersey
 30        Santa Fe  35.682240 -105.939728      New Mexico
 31         Raleigh  35.780430  -78.639099  North Carolina
 32        Bismarck  46.820850 -100.783318    North Dakota
 33          Albany  42.652843  -73.757874        New York
 34        Columbus  39.961346  -82.999069            Ohio
 35   Oklahoma City  35.492207  -97.503342        Oklahoma
 36           Salem  44.938461 -123.030403          Oregon
 37      Harrisburg  40.264378  -76.883598    Pennsylvania
 38      Providence  41.830914  -71.414963    Rhode Island
 39        Columbia  34.000343  -81.033211  South Carolina
 40          Pierre  44.367031 -100.346405    South Dakota
 41       Nashville  36.165810  -86.784241       Tennessee
 42          Austin  30.274670  -97.740349           Texas
 43  Salt Lake City  40.777477 -111.888237            Utah
 44      Montpelier  44.262436  -72.580536         Vermont
 45        Richmond  37.538857  -77.433640        Virginia
 46         Olympia  47.035805 -122.905014      Washington
 47      Charleston  38.336246  -81.612328   West Virginia
 48         Madison  43.074684  -89.384445       Wisconsin
 49        Cheyenne  41.140259 -104.820236         Wyoming,
 'states_atom.csv':    abbreviation           name
 0            AL        Alabama
 1            AK         Alaska
 2            AZ        Arizona
 3            AR       Arkansas
 4            CA     California
 5            CO       Colorado
 6            CT    Connecticut
 7            DE       Delaware
 8            FL        Florida
 9            GA        Georgia
 10           HI         Hawaii
 11           ID          Idaho
 12           IL       Illinois
 13           IN        Indiana
 14           IA           Iowa
 15           KS         Kansas
 16           KY       Kentucky
 17           LA      Louisiana
 18           ME          Maine
 19           MD       Maryland
 20           MA  Massachusetts
 21           MI       Michigan
 22           MN      Minnesota
 23           MS    Mississippi
 24           MO       Missouri
 25           MT        Montana,
 'states_ntoz.csv':    abbreviation            name
 0            NE        Nebraska
 1            NV          Nevada
 2            NH   New Hampshire
 3            NJ      New Jersey
 4            NM      New Mexico
 5            NY        New York
 6            NC  North Carolina
 7            ND    North Dakota
 8            OH            Ohio
 9            OK        Oklahoma
 10           OR          Oregon
 11           PA    Pennsylvania
 12           RI    Rhode Island
 13           SC  South Carolina
 14           SD    South Dakota
 15           TN       Tennessee
 16           TX           Texas
 17           UT            Utah
 18           VT         Vermont
 19           VA        Virginia
 20           WA      Washington
 21           WV   West Virginia
 22           WI       Wisconsin
 23           WY         Wyoming,
 'bdf.csv':    abbreviation            name first_letter last_letter  name_length
 0            AL         Alabama            A           A            7
 1            AK          Alaska            A           A            6
 2            AZ         Arizona            A           A            7
 3            AR        Arkansas            A           S            8
 4            CA      California            C           A           10
 5            CO        Colorado            C           O            8
 6            CT     Connecticut            C           T           11
 7            DE        Delaware            D           E            8
 8            FL         Florida            F           A            7
 9            GA         Georgia            G           A            7
 10           HI          Hawaii            H           I            6
 11           ID           Idaho            I           O            5
 12           IL        Illinois            I           S            8
 13           IN         Indiana            I           A            7
 14           IA            Iowa            I           A            4
 15           KS          Kansas            K           S            6
 16           KY        Kentucky            K           Y            8
 17           LA       Louisiana            L           A            9
 18           ME           Maine            M           E            5
 19           MD        Maryland            M           D            8
 20           MA   Massachusetts            M           S           13
 21           MI        Michigan            M           N            8
 22           MN       Minnesota            M           A            9
 23           MS     Mississippi            M           I           11
 24           MO        Missouri            M           I            8
 25           MT         Montana            M           A            7
 0            NE        Nebraska            N           A            8
 1            NV          Nevada            N           A            6
 2            NH   New Hampshire            N           E           13
 3            NJ      New Jersey            N           Y           10
 4            NM      New Mexico            N           O           10
 5            NY        New York            N           K            8
 6            NC  North Carolina            N           A           14
 7            ND    North Dakota            N           A           12
 8            OH            Ohio            O           O            4
 9            OK        Oklahoma            O           A            8
 10           OR          Oregon            O           N            6
 11           PA    Pennsylvania            P           A           12
 12           RI    Rhode Island            R           D           12
 13           SC  South Carolina            S           A           14
 14           SD    South Dakota            S           A           12
 15           TN       Tennessee            T           E            9
 16           TX           Texas            T           S            5
 17           UT            Utah            U           H            4
 18           VT         Vermont            V           T            7
 19           VA        Virginia            V           A            8
 20           WA      Washington            W           N           10
 21           WV   West Virginia            W           A           13
 22           WI       Wisconsin            W           N            9
 23           WY         Wyoming            W           G            7,
 'df_short.csv':    int-numbers phonetics letters
 0            1     alpha       a
 1            2     bravo       b
 2            3   charlie       c
 3           26      zulu       z}

In [17]:
import networkx as nx

wf_dir = BASE_DIR+NB_NAME
g_truth = nx.read_gpickle(wf_dir+'/'+NB_NAME+'_gt_fixed.pkl')

In [20]:
[x for x in nx.topological_sort(g_truth)][0]

'sdf.csv'